*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.navbar{
    font-size: 16px;
    margin: 0;
    display: flex;
    padding: 0px 50px;
    background-color: black;
    width:100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;

    
}
.links{
    display: flex;
   justify-content: space-between;
}

.title-nav{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid #ffff00;
}

 .list{
    display: flex;
    align-items: center;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    
}
.listItem a{
  
    color: #fff;
    text-decoration: none;

}

.listItem{
   
    font-size: 16px;
    font-weight: 600;
   
}
/* .listItem:hover{
    height: 3px;
    width: 30px;
    background-color: #ffff00;
} */

.home-content{
    display: flex;
    background-image: url(images3/image.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
   
}

 .title-home{
    font-size: 36px;
    font-weight: 900;
    color:#fff;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 24px;
    justify-content: center;
}
/* .home p .desc{
    font-size: 30px;
    color: #fff;
} */

#make{
    color:rgba(0, 0, 255, 0.493);
    font-size: 4rem;
    font-weight: 900;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
   
}
.about-content{
    display:flex;
    flex-direction: column;
    overflow: hidden;
   margin-top: 50px;
   
   
}
.aboutImage{
    width: 400px;
    height: 400px;
    padding: 0;
    flex: 1;
}
h3{
    font-size: 18px;
    font-weight: bolder;
    color: rgb(82, 82, 225);
    text-align: center;
    
}

#us::before{
    content:"Who We Are";
    position: relative;
    color:blue;
    top:40px;
    border-bottom: #ff0000;
    height: 2px;
}

img{
    width:400px;
    height:400px;
    object-fit: cover;
    border-radius: 5px;
    float:left;

}
.rightInfo{
    flex: 2;
    flex-direction: column;
    float: right;
    bottom:1000px;
    width:600px;
    height:400px;
}

 .button{
    display: inline-block;
    padding: 12px 36px;
    transition:0.3s ease;
    color:white;
    margin-top:15px;
    background: blue;
    border: 2px solid blue;

}
 .button:hover{
    color:blue;
    background: none;
}

.contact-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.contact{
    display: flex;
    margin: 10px;
}



 #title{
    border-top: 1px solid yellow;
    height: 3px;
    color: #00000065;
    font-size: 16px;
    font-weight: 300;
}
.form{
    display: flex;
    flex-direction: column;
}
.form .wrap{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}


#touch{
    font-weight: 400;
    font-size: 20px;
}
.input{
    border:1px solid gray;
    padding:10px 15px;
    justify-content: space-between;
    margin:5px;
}
 input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
.input:hover{
    border:1px solid green;
}
.textarea{
    font-size:15px;
    padding: 12px 36px;
    border:1px solid gray;
}
#send{
    display: inline-block;
    padding: 10px 15px;
    font-weight: 200;
    color:white;
    margin-top:10px;
    background: blue;
    border: 2px solid blue;
}
.left{
    display: flex;
    flex-direction: column;
    margin-right:30px;
    justify-content: space-evenly;
}
.leftContact{
    display: flex;
    flex-direction: column;
}
