*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}


.navbar{
    font-size: 20px;
    margin: 0;
    padding: 0px 50px;
    background-color: black;
    width:100%;
    height: 60px;

    
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    

}


a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.home-content{
    display: flex;
    background-image: url(images3/image.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
   
}

#make{
    color:blue;
    font-weight: 600;
}
.about-content{
    display:flex;
    flex-direction: column;
   margin-top: 50px;
   
   
}
.aboutImage{
    width: 400px;
    height: 400px;
    padding: 0;
    flex: 1;
}
h3{
    font-size: 18px;
    font-weight: bolder;
    color: rgb(82, 82, 225);
    text-align: center;
    
}

#us::before{
    content:"Who We Are";
    position: relative;
    color:blue;
    top:40px;
    border-bottom: #ff0000;
    height: 2px;
}

img{
    width:400px;
    height:400px;
    object-fit: cover;
    border-radius: 5px;
    float:left;

}
.rightInfo{
    flex: 2;
    flex-direction: column;
    float: right;
    bottom:1000px;
    width:600px;
    height:400px;
}

 .button{
    display: inline-block;
    padding: 12px 36px;
    transition:0.3s ease;
    color:white;
    margin-top:15px;
    background: blue;
    border: 2px solid blue;

}
 .button:hover{
    color:blue;
    background: none;
}

.contact-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.contact{
    display: flex;
    margin: 10px;
}



 #title{
    border-top: 1px solid yellow;
    height: 3px;
    font-size: 16px;
    font-weight: 300;
}
.form{
    display: flex;
    flex-direction: column;
}
.form .wrap{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}


#touch{
    font-weight: 400;
    font-size: 20px;
}
.input{
    border:1px solid gray;
    padding:10px 15px;
    justify-content: space-between;
    margin:5px;
}
.input:hover{
    border:1px solid green;
}
.textarea{
    font-size:15px;
    padding: 12px 36px;
    border:1px solid gray;
}
#send{
    display: inline-block;
    padding: 10px 15px;
    font-weight: 200;
    color:white;
    margin-top:10px;
    background: blue;
    border: 2px solid blue;
}
.left{
    display: flex;
    flex-direction: column;
    margin-right:30px;
    justify-content: space-evenly;
}
.leftContact{
    display: flex;
    flex-direction: column;
}
